@font-face {
    font-family:Restora;
    src: url(./RestoraExtraLight.otf)
}

body {
    margin: 0%;
    background-color: rgb(251, 243, 233);
}

div.scroll {
    background-color: rgb(123, 119, 116);
    width: 50vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 0%;
    margin: 0%;
  }

  .oval {
    height: 200px;
    width: 100px;
    background-color:transparent;
    border: 2px solid  rgb(251, 243, 233);;
    border-radius: 50%;}

    #email-id {
        display: flex;
        position: absolute;
        font-size: 20px;
        right: 420px;
        top: 315px;
        font-family: Restora;
    }

    #date {
        display: flex;
        position: absolute;
        font-size: 15px;
        right: 345px;
        top: 471px;
    }

    #date-id {
        display: flex;
        position: absolute;
        font-size: 20px;
        right: 425px;
        top: 450px;
    }

    #name {
        display: flex;
        position: absolute;
        font-family: Restora;
        font-size: 15px;
        right: 175px;
        top: 130px;
        width: 300PX;
    }

    #name-id {
        display: flex;
        position: absolute;
        font-family: Restora;
        font-size: 20px;
        right: 182px;
        top: 105px;
        width: 300PX;
    }

    #last-name {
        position: absolute;
        width: 300px;
        right: 175px;
        top: 200px;
        font-size: 15px;
        font-family: Restora;
    }

    #name-last {
        display: flex;
        position: absolute;
        width: 300px;
        right: 185px;
        top: 175px;
        font-size: 20px;
        font-family: Restora;
    }

    #email {
        display: flex;
        position: absolute;
        width: 300px;
        right: 175px;
        top: 340px;
        font-size: 15px;
        font-family: Restora;
    }

    #phonenumber {
        display: flex;
        position: absolute;
        width: 300px;
        right: 185px;
        top: 245px;
        font-size: 20px;
        font-family: Restora;
    }
    #number {
        display: flex;
        position: absolute;
        width: 300px;
        right: 175px;
        top:270px;
        font-size: 15px;
        font-family: Restora;
    }
    #session-id {
        display: flex;
        position: absolute;
        right: 347px;
        top: 385px;
        font-size: 20px;
        font-family: Restora;
    }
    #session {
        display: flex;
        position: absolute;
        right: 295px;
        top: 410px;
        font-size: 15px;
        font-family: Restora;
    }

    #submit {
        display: flex;
        position: absolute;
        right: 150px;
        top: 545px;
        font-size: 17px;
        font-family: Restora;
    }





/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: rgb(251, 243, 233);
    font-family: Restora;
    padding: 16px;
    font-size: 50px;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    display: flex;
    position: fixed;

  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(181, 175, 171);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
    height: 50px;
    width: 100vw;
    transition: 2s;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}