@font-face {
    font-family:Restora;
    src: url(../RestoraExtraLight.otf)
}



body {
    margin: 0%;
    background-color: rgb(123, 119, 116);
}

.rightside {
  background-color: rgb(253, 247, 241);
  width: 50vw;
  height: 100vh;
  display: flex;
  position: fixed;
  right: 0px;
  z-index: -2;
}


  #lennon {
    display: flex;
    position: absolute;
    left: 0px;
    top: 100px;
    width: 200px;
    height: 300px;
  }

  .picture-border1 {
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    position: absolute;
    left: 0px;
    top: 90px;
    width: 210px;
    height: 320px;
  }
  #lexi {
    display: flex;
    position: absolute;
    left: 175px;
    top: 600px;
    height: 275px;
    width: 185px;
  }

  #plant {
    display: flex;
    position: absolute;
    left: 175px;
    top: 350px;
    height: 150px;
    width: 250px;
    border-radius: 10%;
  }
  
  
  #tiff {
    display: flex;
    position: absolute;
    left: 350px;
    top: 985px;
    height: 250px;
    width: 170px;
  }
  .picture-border2 {
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    position: absolute;
    left: 340px;
    top: 970px;
    height: 275px;
    width: 190px;
  }

  #honey {
    display: flex;
    position: absolute;
    left: 110px;
    top: 1200px;
    height: 170px;
    width: 275px;
    border-radius: 10%;
  }
  
  #navoo {
    display: flex;
    position: absolute;
    left: 70px;
    top: 1500px;
    height: 250px;
    width: 170px;
    border-radius: 10%;
  }
  
  .picture-border3 {
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    position: absolute;
    left: 60px;
    top: 1490px;
    height: 270px;
    width: 190px;
    border-radius: 10%; 
  }

  #onoyo {
    display: flex;
    position: absolute;
    left: 300px;
    top: 1800px;
    height: 250px;
    width: 170px;
  }

  #pliFam {
    display: flex;
    position: absolute;
    left: 80px;
    top: 2180px;
    height: 170px;
    width: 275px;
    z-index: 1;
  }

  .picture-border4 {
    display: flex;
    position: absolute;
    left: 70px;
    top: 2165px;
    height: 195px;
    width: 295px;
    background-color: transparent;
    border: 1px solid black;
    z-index: 1;
  }

  #nat{
  display: flex;
  position: absolute;
  left: 280px;
  top: 2340px;
  height: 250px;
  width: 170px;
}


  ul {
    display: flex;
    position: absolute;
    top: 800px;
  }

#logo {
    display: flex;
    position: fixed;
    left:460px;
    top: 5px;
    width: 275px;
    height: 275px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
  }
  
.headerButton{
    height: 50px;
    width: 300px;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 30px;
    font-family: Restora;
    margin: 0px;
    display: flex;
    position: fixed;
  }

  a {
    color: black;
   text-decoration: none;
   display: flex;
    position: fixed;
  }
    
 .navButtons {
  color: black;
  margin: 0px;
  display: flex;
    position: fixed;
 } 

 .header {
  color: black;
  margin: 0px;
  display: flex;
    position: fixed;
 }

#meet {
    display: flex;
    position: fixed;
    right: 75px;
    top: 250px;
    color: black;
    margin: 0px;
  }

  #meet:hover {
    font-weight:bold;
    top: 245px;
    color: black;
    margin: 0px;
  }

#portfolio {
    display: flex;
    position: fixed;
    right: 75px;
    top: 350px;
    margin: 0px;
}

#portfolio:hover {
    font-weight:bold;
    top: 345px;
    margin: 0px;
}

#schedule {
    display: flex;
    position: fixed;
    right: 75px;
    top: 450px;
    margin: 0px;
}

#schedule:hover {
    font-weight:bold;
    top: 445px;
    margin: 0px;
}

#dot {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  position: fixed;
  right: 110px;
  top: 190px;
  border: 1px solid black;
  margin: 0px;
}

#circle {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 130px;
  top: 850px;
  border: 1px solid black;
  margin: 0px;
  z-index: 1;
}



.rectangle {
  display: flex;
  position: fixed;
  top: 550px;
  right: 353px;
  width: 200px;
  background-color: transparent;
  border: 1px solid rgb(90, 90, 90);
  margin: 0px;
}


.text {
  display: flex;
  position: absolute;
  left: 95px;
  top: 415px;
  width: 100px;
  color:rgb(251, 243, 233);
  z-index: 1;
  font-size: 10px;
  font-family:Restora ;
}

.vertical-text {
  transform: rotate(-90deg);
  display: flex;
  position: absolute;
  left: 300px;
  top: 675px;
  width: 150px;
  color:rgb(251, 243, 233);
  z-index: 1;
  font-size: 10px;
  font-family:Restora ;
}

.creativeText {
  display: flex;
  position: absolute;
  left: 100px;
  top: 1125px;
  width: 100px;
  color:rgb(251, 243, 233);
  z-index: 1;
  font-size: 10px;
  font-family:Restora ;
}
.flowText {
  display: flex;
  position: absolute;
  left: 160px;
  top: 1140px;
  width: 100px;
  color:rgb(251, 243, 233);
  z-index: 1;
  font-size: 10px;
  font-family:Restora ;
}

#moments {
  display: flex;
  position: absolute;
  left: 220px;
  top: 2370px;
  width: 100px;
  color:rgb(251, 243, 233);
  z-index: 1;
  font-size: 10px;
  font-family:Restora ;
}

.photoQuote {
  display: flex;
  position: absolute;
  left: 270px;
  width: 100px;
  color:rgb(251, 243, 233);
  z-index: 1;
  font-size: 10px;
  font-family:Restora ;
}

#photo {
 top: 1720px;
}

#pause {
  top: 1735px;
}

#life {
  top: 1750px;
}

#arrow {
  display: flex;
  position: absolute;
  left: 210px;
  top: 1890px;
  height: 130px;
  width:100px;
}

