@font-face {
    font-family:Restora;
    src: url(../RestoraExtraLight.otf)
}

body {
    margin: 0%;
    background-color: rgb(251, 243, 233);
}

h1 {
    background-color: rgb(130, 104, 80);
    height: 75px;
    width: 100vw;
    margin: 0%;
}


.headerButton{
    height: 50px;
    width: 300px;
    border: none;
    background-color: transparent;
    color:  rgb(251, 243, 233);;
    font-size: 24px;
    font-family: Restora;
    margin: 0%;
    display: flex;
    position: fixed;
  }

  a {
    color:  rgb(251, 243, 233);;
   text-decoration: none;
   display: flex;
    position: fixed;
  }
    
 .navButtons {
  margin: 0%;
  display: flex;
    position: fixed;
 } 

 .header {
  margin: 0%;
  display: flex;
    position: fixed;
 }

#home {
    display: flex;
    position: fixed;
    left: 75px;
    top: 35px;
    margin: 0%;
  }

  #home:hover {
    font-weight:bold;
    top: 30px;
    margin: 0%;
  }

#portfolio {
    display: flex;
    position: fixed;
    left: 200px;
    top: 35px;
    margin: 0%;
}

#portfolio:hover {
    font-weight:bold;
    top: 30px;
    margin: 0%;
}

#schedule {
    display: flex;
    position: fixed;
    left: 400px;
    top: 35px;
    margin: 0%;
}

#schedule:hover {
    font-weight:bold;
    top: 30px;
    margin: 0%;
}

#me {
    display: flex;
    position: absolute;
    top: 150px;
    left: 160px;
    height: 350px;
    width: 250px;
}

#camera {
  display: flex;
  position: absolute;
  top: 500px;
  right: 150px;
  height: 350px;
  width: 250px;
  margin-bottom: 100px;
}

.borderBox2 {
  display: flex;
  position: absolute;
  top: 490px;
  right: 140px;
  height: 370px;
  width: 270px;
  border: 1px solid black;
}

.borderBox {
  background-color: transparent;
  border: 1px solid black;
  display: flex;
  position: absolute;
  left: 150px;
  top: 140px;
  width: 270px;
  height: 370px;
}

hr.line {
 border-top:1px solid black;
}

.line2 {
  border-top: 1px solid black;
  display: flex;
  position: absolute;
  width: 280px;
  top: 345px;
  right: 290px;
}


.name{
  display: flex;
  position: absolute;
  right: 100px;
  top: 200px;
  font-size: 17px;
  font-family: Restora;
  font-weight: bold;
  color:  black;
}

.hello {
  display: flex;
  position: absolute;
  right: 100px;
  top: 220px;
  font-family: Restora;
  font-size: 35px;
  width: 400px;
  text-align: center;
  color: rgb(130, 104, 80);
  font-weight: bold;
}

.about-me {
  display: flex;
  position: absolute;
  left: 185px;
  top: 560px;
  font-size: 20px;
  font-family: Restora;
  font-weight: bold;
  color:  black;
}

.about {
  display: flex;
  position: absolute;
  left: 60px;
  top: 600px;
  width: 450px;
  text-align: center;
  font-size: 17px;
  font-family: Restora;
  font-weight: bold;
  color:  black;
}

#complimentButton {
  display: flex;
  position: absolute;
  right: 550px;
  top: 800px;
  height: 65px;
  width: 200px;
  font-family: Restora;
  background-color: rgb(214, 178, 140);
  border: 1px solid black;
  cursor: pointer;
  margin-bottom:200px ;
}
#complimentButton:hover {
  opacity: .5;
}


